.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.tooltip {
    position: relative;
    display: inline-block;
	cursor: pointer;
}

.tooltip:before {
    content: attr(aria-label);
    position: absolute;
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%);
    background-color: #000000;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
    z-index: 1;
}

.tooltip:hover:before,
.tooltip:focus:before {
    opacity: 1;
    visibility: visible;
}
